@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: 0;
    
}
html{
    zoom: 80%;
}
.gray{
    background-color: #fbfbfd;
    border-bottom: 20px solid white;
}
section{
    background-color: #35283c;
   border-bottom: 20px solid #0c080e62 ;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
button{
    cursor: pointer;
}
header{
    background-color: #fff;
    z-index: 2;
    
}
.logo{
    width: 32px;
    height: 32px;
  margin: 0 25px;
}
#topnav{
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    max-width: 1366px;
    margin: auto;
    padding: 4px 0;
   
   
}
nav{
    height: 100%;
    display: flex;
    align-items: center;
}
nav a{
    display: flex;
    align-items: center;
    padding: 20px 42px;
    color: black;
    font-weight: 500;
    margin: 0 8px;
   
   

}
nav a:hover{
    background-color: rgba(250, 250, 250, 0.219);

}
nav a img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
  
}
.btn-img{
    transform: rotate(180deg);
   
}
.nav-btns-cart-search{
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search{
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    margin: 0 15px;
    transition: .2s;
    
}
.btn-search img{
    width: 100%;
    height: 100%;
}

.btn-search:active{
    transform: scale(1.2);
}
input[type="text"]{
    border-radius: 32px 32px  0px 0px;
    padding: 10px 32px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    margin: 0 1em;
}
input[type="text"]::placeholder{
    color: rgba(0, 0, 0, 0.288);
    font-style: italic;
}

.cartBTN{
    color: black;
    padding: 0px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin: 0 35px;
}
.cartBTN img{
    width: 100%;
    height: 100%;
  
}
#dropdown{
    transition: 1s;
    width: 100%;
    display: none;
    justify-content: center;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    transition: .7s;
   
    
    
    
}
#dropdown li{
    display: block;
}
#dropdown.active{
display: flex;
animation-name:show;
animation-duration: 1s;
    
}
@keyframes show{

    from{
        opacity: 0;
        margin-top: -250px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
#dropdown ul{
    margin: 0 5em;
}
#dropdown ul li{
    margin:1em 0; 
}
#dropdown ul li a{
    font-size: 12px;
    color: black;
}
#dropdown ul li a:hover{
    color: rgba(0, 0, 0, 0.295);
}
#dropdown p{
    font-size: 24px;
    font-weight: 700;
}

.see-all{
    font-size: 12px;
    color: blue;

    
}
main{
    background-color: #35283c;
    border-bottom: 20px solid #0c080e62 ;
  
   
   
}
#iphone13 {
    width: 100%;
    
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    max-width: 1366px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
   
}

.box-text{
    margin-left: 20px;
    margin-top: 90px;
    
}
.text h3{
    font-size: 72px;
    font-weight: 700;
    margin: .2em 0;
    color: white;
    
}
.text h4{
    font-size: 24px;
    max-width: 350px;
    color: #fec2eb;
}
.btn-mains{
   margin-left: 100px;
}
.buttons{
display: flex;
margin-top: 30px;
}
.buttons a{
    
    padding: 12px 42px;
    border: 1px solid#fec2eb;
    border-radius: 32px;
    color: #fec2eb;
    transition: .3s;
   
    
}
.buttons a:hover{
    background-color: #fec2eb;
    color: #2e2e3a;
    padding: 12px 46px;
}
.second-btn-main{
    margin-left: 20px;
}
.iphone-13-back{
    float: right;
    width: 100%;
    max-width: 980px;
    margin-top: 50px;
}
.img{
   align-items: flex-end;
    display: flex;
    justify-content: center;
}
.desc-list{
 margin-top: 50px;
}
.desc-list li{
    color: white;
    margin: 2em 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.desc-list li img{
    margin-right: 15px;
    width: 24px;
    height: 24px;
}
.modalstart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 140px;
    position: absolute;
    bottom: 150px;
    background-image: url("img/apple-video-thumb.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    background-color: #fbfbfd;
}  
#ModalArea{
    display: none; 
  position: absolute;
  z-index: 1; 
  left: 0;
  top: 0px;
  width: 100%; 
  height: 1000%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.801); 
  transition: 1s;
  cursor: url("img/Group\ 1\ \(6\).png"),auto;
   
}
#ModalArea.activeModal{
    display: flex;
  
}
.boxModal{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: #fbfbfd;
    cursor: default;
   
   

}
.boxModal.activeBox{
    animation-name: right;
    animation-duration: 1s;
   

}

@keyframes right{
    from{
        right: -800px;
    }
    to{
        right:0 ;
    }
}
.button-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    border: none;
    
}
.button-modal.absolute{
    position: absolute;
    background: none;
    right: 30px;
    top:30px ;
}
.btn-close{
    width: 20px;
    height: 20px;
}
.btn-play{
    width: 20px;
    height: 20px;
}
.content-modal{
    margin-top: 45px;
    height: 100%;
    background-color: #fbfbfd;
    padding: 50px;
}
.title-modal{
    font-size: 32px;
    text-align: left;
    
}
.description-modal{
    font-size: 16px;
    margin-top: 30px;
    font-weight: 400;
    text-align: justify;
}
.video-modal{
    margin-top: 20px;
}
.video-main{
    width: 100%;
}


#topnavmobile{
    display: none;
    border: none;
}
#MenuArea{
    display: none;
}




#flat{
    width: 100%;
    position: relative;
    background-color: #35283c;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
    max-width: 1366px;
    margin: auto;
    
}
.flat-pink-text{
    font-size: 72px;
    text-align: right;
    margin-top: 250px;
    color: white;
    margin-right: 50px;
    
    
}
.flat-pink-iphone{
    margin-left:250px;
    margin-top: 50px;
}
.flat-pink-iphone{
    position: relative;
    bottom: 0;
    right: 0;
}
#ceramic{
    width: 100%;
    position: relative;
    background-color: #35283c;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1366px;
    margin: auto;
    
}
.ceramic-text-iphone{
    margin-left: 50px;
    margin-top: 350px;
    font-size: 72px;
    color: white;
    padding: 100px 0;
}
.border-pink{
    
    max-width: 600px;
   
}

#color-iphone-change{
    max-width: 1366px;
    margin: auto;

}
.labels{
    margin-left: 50px;
    margin-top: 50px; 
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(1, 1, 3, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 40px;
    padding: 20px 5px;
    margin-right: 50px;
    margin-bottom: 150px;
   
  
}
#colors{
    transition: .4s;
    border-bottom: 0px;
    background-color: #35283c;
    border-bottom: 20px solid #0c080e62 ;
   
    
 
}
#colors.green{
    background-color: #f5f5f7;
    
}
#colors.blue{
   background-color:  #0c3139;
}
#colors.midnight{
    background-color: #12203b;
}
#colors.starlight{
    background-color: #2e2e3a;
}
#colors.red{
    background-color: #3e1921;
}

.label{
    

    padding: 30px 6px;
    max-height: 20px;
    border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition:300ms;
   
   
}
.label.pink:active{
    border: none;
    box-shadow: #fec2eb1a 0 0 0 50px;
    transition: .1s;
}

.label input{
    display: none;
}
.label .check{

    width: 50px;
    height:50px;
    background: none;
    border-radius: 50%;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.label.pink input:checked ~ .check{
   
    border: 1px solid #fec2eb;
    
}
.select{
    width: 30px;
    height: 30px;
    background-color: #fec2eb;
    border-radius: 50%;
}
.label.green:active{
    border: none;
    box-shadow: #394c3856 0 0 0 50px;
    transition: .1s;
}

.label.green input:checked ~ .check{
   
    border: 1px solid #394c38;
    
}
.label.green .select{
    width: 30px;
    height: 30px;
    background-color: #394c38;
    border-radius: 50%;
}
#color-iphone-change{
    padding-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow:hidden;
    
}




.label.blue:active{
    border: none;
    box-shadow: #27678746 0 0 0 50px;
    transition: .1s;
}

.label.blue input:checked ~ .check{
   
    border: 1px solid #276787;
    
}
.label.blue .select{
    width: 30px;
    height: 30px;
    background-color: #276787;
    border-radius: 50%;
}



.label.midnight:active{
    border: none;
    box-shadow: #232a3167 0 0 0 50px;
    transition: .1s;
}

.label.midnight input:checked ~ .check{
   
    border: 1px solid #232a31;
    
}
.label.midnight .select{
    width: 30px;
    height: 30px;
    background-color: #232a31;
    border-radius: 50%;
}


.label.starlight:active{
    border: none;
    box-shadow: #b3afac3b 0 0 0 50px;
    transition: .1s;
}

.label.starlight input:checked ~ .check{
   
    border: 1px solid #c9c8c8;
   
}
.label.starlight .select{
    width: 30px;
    height: 30px;
    background-color: #c9c8c8;
    border-radius: 50%;
}

.label.red:active{
    border: none;
    box-shadow: #bf001342 0 0 0 50px;
    transition: .1s;
}

.label.red input:checked ~ .check{
   
    border: 1px solid #bf0013;
    
}
.label.red .select{
    width: 30px;
    height: 30px;
    background-color: #bf0013;
    border-radius: 50%;
}
.iphone-colors{
 
    max-height: 400px;
    width: 600px;
    margin-top: 15em;
    margin-bottom: -15px;
}

.text-h3{
    font-size:72px;
    color: white;
    animation-name:  showtext ;
    animation-duration: 1s;
}
#text-green{
    display: none;
    
}
#text-green .text-h3{
    color: #333;
}
#text-blue{
    display: none;
}
#text-midnight{
    display: none;
}
#text-starlight{
    display: none;
}
#text-red{
    display: none;
}
#product-specifications{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh 40vh ;
    padding: 150px 0;
    gap: 50px 0;
    max-width: 1366px;
    margin: auto;
    border: none;
}
.item-spe{
    background-color: #35283c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.items-spe-text{
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 20px;
}

#buy{
    padding: 100px 0;
    max-width: 1366px;
    margin: auto;
    text-align: center;
}
#buy h3{
    color: white;
}
#buy .name{
    font-size: 24px;
    
}
#buy .desc{
    font-size: 122px;
    font-weight: 500;
    line-height: 1;
    
    margin-left: 25px;
}
#buy .price{
    font-size: 28px;
    color: rgba(255, 255, 255, 0.541);
    margin-top: 42px;
    margin-left: 25px;

}
#buy .btns-buy{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#buy ul li{
    margin: 0 .3em;
}
.btn-buy{
    padding: 16px 36px;
    border-radius: 25px;
    background-color: #0071e3;
    color: white;
    text-transform: uppercase;
    transition: .4s;
    margin: 0 .3em;
}
.btn-buy:hover{
    padding: 16px 42px;
    
}
.watch{
    background: none;
    border: 1px solid #0071e3;
    padding: 14px 20px;
    text-transform: uppercase;
    color: #0071e3;
    border-radius: 25px;
    transition: .4s;
    margin: 0 .3em;
}
.watch:hover{
    background-color: #0071e3;
    color: white;
    padding: 14px 28px;
}
#iphone-se{
    background-color:none;
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1366px;
    margin: auto;
    border: none;
    padding: 50px 0;
}
.text-area-iphone-se{
    margin-top: 50px;
}
.desc-iphone-se{
    font-size: 24px;
    font-weight: 400;
}
.desc-iphone-se.plus{
    font-size: 36px;
}

.title-se img{
    max-width: 290px;
   margin-bottom: 10px;
}
.img-iphone-se{
    max-width: 700px;
    width: 100%;
}
.btns-se{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-learn{
    border: 1px solid #0071e3;
    color: #0071e3;
    border-radius: 32px;
    padding: 16px 32px;
    margin: 0 .5em;
    transition: .4s;
}
.btn-learn:hover{
    transform: translateY(-5px);
    background-color: #0071e3;
    color: white;
    
}
.btn-buy-se{
    border: 1px solid #0071e3;
    background-color: #0071e3;
    color: white;
    border-radius: 32px;
    padding: 16px 64px;
    margin: 0 .5em;
    transition: .4s;
}
.btn-buy-se:hover{
    transform: translateY(-5px);
}
#macbook{
    width: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: none;
    height: auto;
    padding: 150px 0;
    padding-bottom: 80px;
    text-align: center;
}
#macbook h3{
    padding: 5px 0;
    font-size: 42px;
    font-weight: 500px;
}
#macbook .title{
    font-size: 64px;
}
#macbook .desc{
    font-size: 38px;
    font-weight: 400;
}
#macbook .price{
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.623);
    font-style: italic;
}
.btns-mac{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.macbook{
    margin: 50px 0;
    width: 100%;
    max-width: 920px;
    margin-top: 80px;
   
}
#ipad{
    width: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 30px;

}
.iPad{
    width: 100%;
    max-width: 800px;
}
.text-area-ipad{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.text-area-ipad .title{
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0;
}
.name-ipad{
    max-width: 350px;
}
.btns-ipad{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-plus{
    background-color: white;
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
    
   
}
.items{
    background-color: #fbfbfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em;
    padding: 60px 0;
   
}
.applewatch{
    transition: .4s;
    text-align: center;
}
.applewatch .title{
    font-size: 26px;
    font-weight: 400;
}
.applewatch:hover .watch-prod{
    transform: scale(1.2);
}
.watch-name{
    margin: 30px 0;
    width: 100%;
    max-width: 170px;
}
.watch-prod{
    width: 100%;
    height: 100%;
    transition: .4s;
    margin-top: 50px;
}
.btns-items{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-more-item{
    border: 1px solid black;
    padding: 16px 32px;
    border-radius: 32px;
    margin: 0 15px;
}
.buy-item{
    border: 1px solid black;
    padding: 16px 64px;
    border-radius: 32px;
    margin: 0 15px;
    transition: .4s;
}
.buy-item:hover{
    transform: translateY(-8px);
    background-color: black;
    color: white;
}
.fitness{
    background: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.144)), url(img/fitness.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .4s;
}
.fitness:hover{
    box-shadow: inset 0 0 90px #000000;;
}
.fitness-name{
    margin: 40px 0;
}
.fitness .title{
    font-size: 28px;
    color: white;
    font-weight: 400;
    margin: 5px 0;
}
.btns-fitness{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-learn.green{
    color: #a6ff00;
    border: 1px solid #a6ff00;
}
.btn-learn.green:hover{
    background-color:#a6ff00 ;
    font-weight: 500;
    color: black;
}
.btn-buy-se.green{
    background-color:#a6ff00;
    border: 1px solid #a6ff00;
    color: black;
    font-weight: 500;
}
.studio:hover .studio-product{
    transform: scale(1.1);
}
.studio .title{
    margin:30px 0;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 10px;
}
.studio .desc{
    
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 30px;
}
.studio-product{
    width: 100%;
    max-width: 620px;
    margin-top: 20px;
    transition: .4s;
}
.airpods{
    padding: 0;
    position: relative;
    overflow: hidden;
   
}
.air-pods-area{
    color: white;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.air-pods-area .title{
    margin-top: 30px;
    font-size: 72px;
    font-weight: 700;
}
.air-pods-area .desc{
    font-size: 24px;
    font-weight: 400;
}
.air-pods-area .price{
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}
.airpods-product{
    width: 100%;
    max-width: 420px;
    margin-top: 50px;
}
.airpods-back{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.144)), url(img/AirPods.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: .4s;
}
.airpods:hover .airpods-back{
    filter: blur(2px);
    transform: scale(1.2);
}
.air-btn{
    margin: 15px 0;
    margin-bottom: 50px;
}
.tvplus{
    position: relative;
    padding: 0;
    position: relative;
    overflow: hidden;
   
}
.tv-back{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.267)), url(img/friday-night.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition: .4s;
}
.tvplus-area{
    color: white;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
.text-area-tvplus{
    margin-top: 350px;
}
.text-area-tvplus .title{
    font-size: 24px;
    font-weight: 500;
}
.friday-text{
    margin: 80px 0;
    width: 100%;
    max-width: 220px;
    margin-top: 100px;
   
}
.catch{
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin: 24px 0;
}
.catch:hover{
    text-decoration: underline;
    color: #0071e3;
}
.seeall{
   display: flex;
   justify-content: center;
   transition: .6s;
 
  

}
.see-all-text{
    text-align: center;
    font-size: 42px;
    margin:  0 2em;
}

.seeall:hover{
   background-color: rgb(24, 21, 21);
   
}
.seeall:hover .see-all-text a{
    transition:.6s;
}
.seeall:hover .see-all-text a{
    color: white;
}











@keyframes showtext{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media (max-width:1024px){
    
    #iphone13{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
   .desc-list{
       display: none;
   }
    nav a{
        display: flex;
        align-items: center;
        padding: 20px 32px;
        color: black;
       
    
    }
    .img{
        margin-top: 50px;
    }
    .flat-pink-iphone{
        margin-left:150px;
        margin-top: 50px;
    }
    #buy .desc{
        margin-left: 0;

    }
    #buy .price{
        margin-left: 0;
    }
}
@media (max-width:1023px){
    
    #ceramic{
        overflow: hidden;
    }
    
    .cartBTN{
        margin-top: 5px;
    }
    #MenuArea{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        z-index: 2;
        border: none;
        transition: 1s;
       
    }
    .Menu-mobile{
        height: 100%;
        margin-top: 10px;
        width: 100%;
        font-size: 28px;
       
    }
    .Menu-mobile li {
        padding: 14px 0;
        border-bottom: 1px solid rgba(238, 238, 238, 0.164);    
    }
    .Menu-mobile li a{
        margin-left: 40px;
    }
    
    .sub-products{
        margin-left: 25px;
        display: none;
    }
    .sub-products.active{
        display: block;
        overflow: hidden;
    }
    .sub-products.active li{
        animation-name: subP;
        animation-duration: .6s;
    }
    @keyframes subP{
        from{
            margin-top: -20%;
            
        }
        to{
            margin-top: 0;
           
        }

    }
    .sub-products li{
        border: none;
    }
    .sub-products li a{
        font-size: 24px;
    }
    .prod-title{
       
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .btn-mobile-subproducts{
        width: 32px;
        height: 32px;
        background: none;
        border: none;
        margin-right: 35px;
        
    }
    #img-drop-mobile.active{
        transform: rotate(180deg);
    }
    #MenuArea.active{
        display: flex;
        animation-name: menushow;
        animation-duration: .4s;

    }
    #color-iphone-change{
        flex-direction: column;
        align-items: center;
    }
    #iphone-change{
        order: 3;
    }
    .labels{
        width: 90%;
        order: -1;
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
       
    }
    #text-pink, #text-green, #text-blue, #text-midnight, #text-starlight, #text-red{
        text-align: center;
        margin-bottom: 150px;
    }
    @keyframes menushow{
        from{
            margin-left: -50%;

        }
        to{
            margin-left: 0;
        }
    }
    .cartBTN{
        
        margin: 0;
        margin-right: 15px;
        
        }
    .menuToggle{
        
        z-index: 2;
        margin-left: 15px;
       
    }
    .bar1, .bar2, .bar3{
        width: 27px;
        height:2px;
        background-color: black;
        margin: .3em 0;
        
    }
    .bar2{
        width: 23px;
    }
    .bar1, .bar3{
        transition: .4s;
    }
    .change .bar1{
       
        transform: rotate(-45deg) translate(-5px, 5px);
      }
      .change  .bar2{
          opacity: 0;
      }
      .change  .bar3{
        transform: rotate(45deg) translate(-5px, -5px);
        
      }
    
    #topnavmobile{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
    }
    header{
        background-color: #fff;
        
    }
    .logo{
        margin: 0;
        width: 32px;
        height: 32px;
        
      
    
    }
  
    #topnav{
      
        display: none;
    }
    .iphone-colors{
 
        max-height: 400px;
        width: 600px;
        margin-top:0em;
  
    
} 
#product-specifications{
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}
.item-spe{
    margin-top: 150px;
}
.items-spe-text{
    margin: 0 15px;
}
#buy .desc{
    font-size: 64px;
}
#ipad{
    width: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;

}
#grid-plus{
    background-color: white;
    border: none;
    display: flex;
   flex-direction: column;
   justify-content: center;
    
    
   
}
.btns-fitness{
   margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 450px;
}
.fitness .title{
    text-align: center;
}
}
@media(max-width:425px){
   
    .flat-pink-text{
        font-size: 36px;
        text-align: right;
        margin-top:50px;
        color: white;
        margin-right: 0px;
        text-align: center;
        
        
    }
    .flat-pink-iphone{
        margin-left:25px;
        margin-top: -110px;
        transform: rotate(-90deg);
       max-height: 400px;
    }
    .flat-pink-iphone{
        position: relative;
        bottom: 0;
        right: 0;
    }
    #flat{
        width: 100%;
        position: relative;
        background-color: #35283c;
        display: flex;
        flex-direction: column-reverse;
       justify-content: center;
        align-items: center;
        border-bottom: 20px solid #0c080e ;
        
    }
   
    #ceramic{
        width: 100%;
        position: relative;
        background-color: #35283c;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    .ceramic-text-iphone{
        margin-left: 0px;
        margin-top: 0px;
        font-size: 36px;
        text-align: center;
        color: white;
        padding: 100px 0;
        
    }
    .border-pink{
        max-height: 200px;
        max-width: 400px;
    
       
    }
    .modalstart{
        display: none;
    }

    .text h3{
        font-size: 42px;
    }
    .text h4{
        font-size: 26px;
    }
    .iphone-colors{
        width: 70%;
    }
    .text-h3{
        font-size: 36px;
    }
    .items-spe-text{
        font-size: 18px;
    }
    .item-spe{
        margin-top: 30px;
    }
    #buy .name{
        font-size: 18px;
    }
    #buy .desc{
        font-size: 42px;
        font-weight: 500;
        line-height: 1;
        
      
    }
    #buy .price{
        font-size: 15px;
        color: rgba(255, 255, 255, 0.541);
       margin: 42px 10px 0 10px;
    
    }
    .desc-iphone-se{
        font-size: 20px;
        font-weight: 400;
    }
    .desc-iphone-se.plus{
        font-size: 24px;
        margin: 0 15px;
    }
    .title-se img{
        max-width: 190px;
       margin-bottom: 10px;
    }
    .text-area-iphone-se{
        margin: 60px 0;
    }
    .btn-learn{
        font-size: 15px;
        padding: 12px 16px;
    }
    .btn-buy-se{
        padding: 12px 42px;
        font-size: 15px;
    }
    #macbook{
        padding: 80px 0;
    }
    #macbook .title{
        font-size: 42px;
    }
    #macbook .desc{
        font-size: 24px;
    }
    .macbook{
      
        padding: 20px;
    }
    .iPad{
        margin-top: 50px;
    }
}
@media(max-width:424px){
.menuToggle{
        margin-top: 2px;
}
.text h3{
    font-size: 20px;
}
.text h4{
    font-size: 24px;
}
.buttons a {
    padding: 12px 28px;
    font-size: 12px;
}
.flat-pink-iphone{
    position: relative;
    margin: 0;
    right: -55px;
    height:100%;
    max-height: 265px;
   
}
.labels{
    width: 95%;
 
}

#buy .btns-buy{
    margin-top: 15px;
}
#buy a{
  font-size: 12px;
}
.text-area-ipad .title{
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0;
}
.name-ipad{
    max-width: 250px;
}
}
@media(max-width:320px){
    .labels .label{
        margin: 0;
        padding: 30px 0;
    }
    .flat-pink-iphone{
        right: -25px;
    }
    .flat-pink-text{
       margin-left: .3em;
       margin-right: .3em;
    }
    .text-h3{
        font-size:32px;
    }
    
}
@media(max-width:280px){
    .labels{
        flex-direction: column;
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
    }
    .flat-pink-iphone{
        right: -5px;
    }
    .labels .label{
        margin: 0;
        padding: 30px 6px;
    }
    #buy .desc{
        font-size: 42px;
    }
    #buy a{
        font-size: 10px;
    }
}

